@model BackUp1Final.Models.Team
@{
    ViewBag.Title = "Delete Team";
}

<br /><br />
<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Delete a specific team">
    Delete Team
</button>
<br /><br />

<div class="alert alert-danger">
    Are you sure you want to delete the following team?
</div>

<div class="row">
    <div class="col-lg-6">

        <div class="row">
            <div class="col-xs-4 col-sm-3">
                @Html.LabelFor(m => m.Name)
            </div>
            <div class="col-xs-8 col-sm-9">
                @Model.Name
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4 col-sm-3">
                @Html.LabelFor(m => m.Country)
            </div>
            <div class="col-xs-8 col-sm-9">
                @Model.Country
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4 col-sm-3">
                @Html.LabelFor(m => m.Championships)
            </div>
            <div class="col-xs-8 col-sm-9">
                @Model.Championships
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4 col-sm-3">
                @Html.LabelFor(m => m.Stadium)
            </div>
            <div class="col-xs-8 col-sm-9">
                @Model.Stadium
            </div>
        </div>

        @using (Html.BeginForm())
        {
            <div class="pad-top">
                <button type="submit" class="btn btn-danger btn-lg margin-right">
                    <span class="glyphicon glyphicon-trash"></span> Delete
                </button>
                <a href="@Url.Action("Teams")" class="btn btn-warning btn-lg">
                    <span class="glyphicon glyphicon-remove"></span> Cancel
                </a>
            </div>
        }
    </div>

</div>